<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <title>blockcerts-verifier-web demo</title>
    <script src="/scripts/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
    <script src="/scripts/@wangbog/blockcerts-verifier/dist/main.js"></script>
</head>
<body>
    <div>
        <h3>区块链数字证书验证（基于@wangbog/blockcerts-verifier） - 全屏模式展示证书</h3>
        <blockcerts-verifier display-mode="fullscreen"></blockcerts-verifier>
    </div>
</body>
</html>
